:root {
  --videoRatio:  720 / 1280;
  --padding-md: 16px;
  --padding-sm: 8px;
  --padding-xs: 4px;
  --accent-color: #9459ee;
  --background-color: black;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

#app {
  max-height: 100vh;
}

.player-container {
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--padding-md);
}


.player-ui-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--padding-md);
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
}

.mute-button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url('/src/assets/unmute.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.mute-button_muted {
  background-image: url('/src/assets/mute.svg');
}

.video {
  height: 100%;
  width: auto;
  max-width: 100%;
}

#scroll-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  scrollbar-width: none;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.progress-bar-container {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 12px;
  left: var(--padding-md);
  right: var(--padding-md);
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--accent-color);
}

.hidden {
  display: none;
}
